$bg: red;
$mainblue: #006BAC;
$navblue: #CAD9E0;
$borderbottomblue:#b5ccd8;
$liblack: #212121;
$myowntextcolor:blue;
$ahoverblue:#1084DA;
$textgrey: #6d6d6d;

@mixin border-radius($radius){
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border: 0px solid #000000;
}

body,html{
	padding: 0;
	margin: 0;
	font-family: Tahoma,"Arial";
	color: $textgrey;
}

h1{
	color: $mainblue;
}
h2{
	color: $mainblue;
    font-size: 1.5em;
}

header{
	nav{
		height: 70px;
		width: 100vw;
		position: fixed;
		background-color: $navblue;
		border-bottom: $borderbottomblue;
	}
	img{
		border: 1px solid #ececec;
	}
	ul{
		margin: 25px 0 0 0;
	}
	li{
			display: inline;
			padding: 5px 5%;
			cursor: pointer;
		}
	li:hover{
		color: $ahoverblue;
		text-decoration: underline;
	}
	a{
		color: $liblack;
		text-decoration: none;
	}
	a:hover{
		color: $ahoverblue;
		text-decoration: underline;
	}
	input[type="text"] {
		background-image: url(../img/search.jpg);
		background-repeat: no-repeat;
		background-position: 100% 0%;
		@include border-radius(10px);
		padding: 5px;
		margin: 20px 0 0 0;
	}
	li{
		color: #212121;
	}
	    z-index: 100;
    position: fixed;
    top: 0;
}
footer{
	background-color:$navblue; 
	a{
		color: $liblack;
		text-decoration: none;
	}
	a:hover{
		color: $ahoverblue;
		text-decoration: underline;
	}
	li{
		list-style: none;
		margin: 0 0 10px 0;
		cursor: pointer;
		color: $liblack;
	}
	li:hover{
		color: $ahoverblue;
		text-decoration: underline;
	}
}
footer > div > div > div:nth-child(3) > div > div > img{
	width: 30px;
    margin-top: 80px;
}
.main{
	margin: 65px 0 0 0;
}
.img{
	width: 52%;
    position: relative;
    margin: 0 auto;
}
.centered{
	text-align: center;
}
.jumpmenu{
	position: absolute;
    right: 1em;
    top: 20px;
    font-size: 1em;
    display: none;
}


@media only screen and (max-width: 960px){
	    header ul {
		    display: none;
		}
		header input[type=text]{
			display: none;
		}
		.jumpmenu{
			display: block;
		}
}