body, html {
  padding: 0;
  margin: 0;
  font-family: Tahoma,"Arial";
  color: #6d6d6d; }

h1 {
  color: #006BAC; }

h2 {
  color: #006BAC;
  font-size: 1.5em; }

header {
  z-index: 100;
  position: fixed;
  top: 0; }
  header nav {
    height: 70px;
    width: 100vw;
    position: fixed;
    background-color: #CAD9E0;
    border-bottom: #b5ccd8; }
  header img {
    border: 1px solid #ececec; }
  header ul {
    margin: 25px 0 0 0; }
  header li {
    display: inline;
    padding: 5px 5%;
    cursor: pointer; }
  header li:hover {
    color: #1084DA;
    text-decoration: underline; }
  header a {
    color: #212121;
    text-decoration: none; }
  header a:hover {
    color: #1084DA;
    text-decoration: underline; }
  header input[type="text"] {
    background-image: url(../img/search.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 0px solid #000000;
    padding: 5px;
    margin: 20px 0 0 0; }
  header li {
    color: #212121; }

footer {
  background-color: #CAD9E0; }
  footer a {
    color: #212121;
    text-decoration: none; }
  footer a:hover {
    color: #1084DA;
    text-decoration: underline; }
  footer li {
    list-style: none;
    margin: 0 0 10px 0;
    cursor: pointer;
    color: #212121; }
  footer li:hover {
    color: #1084DA;
    text-decoration: underline; }

footer > div > div > div:nth-child(3) > div > div > img {
  width: 30px;
  margin-top: 80px; }

.main {
  margin: 65px 0 0 0; }

.img {
  width: 52%;
  position: relative;
  margin: 0 auto; }

.centered {
  text-align: center; }

.jumpmenu {
  position: absolute;
  right: 1em;
  top: 20px;
  font-size: 1em;
  display: none; }

@media only screen and (max-width: 960px) {
  header ul {
    display: none; }

  header input[type=text] {
    display: none; }

  .jumpmenu {
    display: block; } }

/*# sourceMappingURL=main.css.map */
